* {
    margin: 0;
    padding: 0;
}

body>h1{
    color: red;
}
p{
    font-weight: bold;
}
#im{
    width:  600px;
    height: 400px;
}

#idnome{
    width: 100px;
    height: 20px;


}
form>button{
    background-color: black;
    color: #fff;
}